{% extends "parent.html" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>My notes</title>
	</head>
	<body class="bodycolor">
		{% block form %}
		{% endblock %}
		<div class="lesson">
			<h1>Lesson 0: Basics of the Web and HTML</h1>
			<div class="concept">
				<h2>HTML</h2>
				<div class="information">
					<p>
						HTML stands for hypertext markup language. What you wrote: 
					<br>
						Basically, the internet makes requests to servers via HTTP protocol. 
						HTTP sends back info to the internet/you in your browser.
					</p>
				</div>
			</div>
			<div class="concept">
				<h2>Structure of HTML</h2>
				<div class="information">
					<p>
						HTML is made up of <em>tags</em> and <em>attributes</em>.  
						Tags that only require an opening tag are called void tags.  
						Otherwise, most tags require both an opening and closing tag.  
					<br>
						A complete tag is referred to as an attribute.
					</p>
					<p>
						There are 2 ways to classify tags: 
					</p>	
					<ol>
						<li>inline tags</li>
						<li>block tags</li>
					</ol>
					<p>
						<b>Inline tags</b> perform their function directly on the text, with no additional formatting.
					<br>
						<b>Block tags</b> put an invisible box around text.  
						That way CSS or JS elements can refer to the entire region, not just the literal text.
					</p>
				</div>
			</div>
			<div class="concept">
				<h2>Links</h2>
				<div class="information">
					<p>
						This is an example of a hyperlink to <a href="http://www.google.com">google</a>.
					</p>
				</div>
			</div>
		</div>
		<div class="lesson">
			<h1>Lesson 1: CSS</h1>
			<div class="concept">
				<h2>CSS Philosophy</h2>
				<div class="information">
					<p>
						CSS stands for <b>Cascading Style Sheets</b>.
					<br>
						CSS can be said to have a heirarchical structure.  
						The more specific rule gets applied is the one that <b>MOST</b> describes the elements.
					</p>
				</div>
			</div>
			<div class="concept">
				<h2>CSS Syntax</h2>
				<div class="information">
					<p>
						CSS uses “selectors”.  That's CSS for elements.
						Elements have a <em>property</em> and a <em>value</em>.
					<br>
						CSS selectors can apply to tags, as well as classes and IDs. 
						When using CSS to refer to a class, the selector must be prefixed with a period.
					</p>
					<p>
						You can use CSS in HTML (although not advised). Like this:
					</p>
					<br>
					<p class="code">
						<code>
							&lt;style&gt;
							<br>
							<span class="space2">.description {</span>
							<span class="space5">color: <span class="color-red">red</span>;</span>
							<br>
							<span class="space2">}</span>
							<br>		
							&lt;/style&gt;
						</code>
					</p>
				</div>
				<div class="information">
					<h2>Avoiding Repition in CSS</h2>
					<p>
						Because CSS is heirarchical, it's code can be written in such a way to <em>minimize repitition</em>.
					<br>
						A couple lines of CSS code can be applied to ALL of the instances 
						that the tag/class/id are used in the HTML document.
						So if HTML is written intelligently, with tags/classes/ids consistently applied,
						the CSS to format that HTML document can be very simple, but will affect the web page widely.
					</p>
				</div>
			</div>
		</div> 
		<!--




		-->
		<div class="lesson">
			<h1>Lesson 2: Python</h1>
			<div class="concept">
				<h2>Python Basic Forms</h2>
				<div class="information">
					<p>
						Python's grammar works like this: expression --> operator --> expression.  Assignment works like this: var = expression
					</p>
					<p>What’s on the right side will be stored in the left side. If 'var'  is not assigned, and it was used on the right side, it would crash with a  NameError.
					</p>
					<p>
						You can add and multiply strings, but you cannot use them in subtraction or division. If you want decimal output, add a '.' at the end of your number. 
					</p>
				</div>
			</div>
			<div class="concept">
				<h2>Python Indexing</h2>
				<div class="information">
					<p>
						You can extract subsequences from strings with brackets. Ex: &lt;string&gt;[<expression>:<expression>]
					<br>
						Sample indexing positions:
					<br>
						+---+---+---+---+---+---+
					<br>
						|&nbsp; P &nbsp;|&nbsp; y &nbsp;|&nbsp; t &nbsp;|&nbsp; h &nbsp;|&nbsp; o &nbsp;|&nbsp; n &nbsp;|
					<br>
						+---+---+---+---+---+---+
					<br>
						0&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;6
					<br>
					 -6&nbsp;&nbsp;&nbsp;-5&nbsp;&nbsp;&nbsp;-4&nbsp;&nbsp;&nbsp;-3&nbsp;&nbsp;&nbsp;-2&nbsp;&nbsp;&nbsp;-1
					<br>
						You can leave the expression before or after the colon blank
					</p>
					</div>
				</div>
			<div class="concept">
				<h2>Python Functions</h2>
				<div class="information">
					<p>
						You start a function with def. Return shows the output.  
					<br>
						Functions (or procedures/methods) are ways of accomplishing a task that are meant to be reusable.  All variables in the function don't exist outisde of the function call and the return values.
					<br>
						Functions need return statements, otherwise they will just return 'None'
					</p>
					<br>
					<p>
						Indentation is very important in Python.  Functions and loops are invoked by a ':', and then the python compiler knows we're going into the content of the function by the next indent level.
					</p>
					<br>
					<p>
						Loops are also very important in Python. <b>'While'</b> loops evaluate a condition and loop until the condition is False.  <b>'For'</b> loops iterate over a list element, and assigns variables to each element in the list until the list is over. <i>'For' loops are the safer of the two</i>
					</p>
				</div>
			</div>
			<div class="concept">
				<h2>Aliasing and Mutation</h2>
				<div class="information">
					<p>
						&gt; a = [0,1]
					<br>
						&gt; b = a <span class="color-red">&lt;--Aliasing!</span>
					<br>
						&gt; a[1]=2 <span class="color-red">&lt;--Mutation!</span>
					<br>
						&gt; print a,b
					<br>
						[0, 2] [0, 2]
					<br>
						&gt; a = [0,3] 
					<br>
						&gt; print a,b
					<br>
						[0, 3] [0, 2] <span class="color-red">&lt;--Reassigning the original list (a = [0, 3]) does not carry over the change to the aliased variable!</span>
					</p>
					<p>
						A <i>mutable</i> object is an object whose contents can change, like the list shown above.
					<br>
						An <i>alias</i> is a second name for a piece of data. In Python, aliasing happens whenever one variable's value is assigned to another variable, because variables are just names that store references to values.
					</p>
				</div>
			</div>
		</div>
			{% if type_of_note == "Lesson" %}
				Lesson: {{ note_text }}
			{% endif %}
			{% if type_of_note == "Concept" %}
				Concept: {{ note_text }}
			{% endif %}
			{% if type_of_note  == "Information" %}
				Information: {{ note_text }}
			{% endif %}
	</body>
</html>
