<!DOCTYPE html>
{% block form %}
<form action="TestHandler" method="GET">
	<textarea name="note_text" rows=10 cols=80></textarea>
	<br>
	<label>Lesson
	<input type="radio" name="type_of_note" value="Lesson">
	</label>
	<br>
	<label>Concept
	<input type="radio" name="type_of_note" value="Concept">
	</label>
	<br>
	<label>Information
	<input type="radio" name="type_of_note" value="Information">
	</label>
	<br>
	<input type="submit" value="Submit">
</form>
<br>
<style="color:red;">You must type in some notes before submitting!</style>
{% endblock %}